.Card {
  display: grid;
  place-items: center;
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(90deg, hotpink, rgb(214, 135, 214));
  color: white;
  box-shadow: 3px 5px gray;
  width: 350px;
  height: auto;
  border: black 1px Solid;
  margin-bottom: 20px;
}

.Card__Picture {
  display: flex;
  border: black 1px solid;
}

.Card__Button {
  background: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  width: 150px;
}

.Card--alien {
  background: linear-gradient(90deg, rgb(31, 156, 240), rgb(34, 193, 233));
  border: black 1px solid;
}
